<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tfour_Main.Properties.Settings.Tfour_ConnectionString"
            connectionString="Data Source=DESKTOP-94GIPOB\SQLEXPRESS;Persist Security Info=True;User ID=glassfish;Password=glassfish"
            providerName="System.Data.SqlClient" />
        <add name="Tfour_Main.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=DESKTOP-94GIPOB\SQLEXPRESS;User ID=glassfish;Password=glassfish"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>